name: Go

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build-and-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go:
          - "1.17"
          - "1.18"
          - "1.19"
          - "1.20"
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go (${{ matrix.go }}
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go }}

    - name: Build (${{ matrix.go }})
      run: go build ./...

    - name: Test (${{ matrix.go }})
      run: go test ./...

    - name: Tidy (${{ matrix.go }})
      run: '[[ `go version` < "go version go1.15.10" ]] || go mod tidy'
